.principal {
    background-color: #202020;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    min-height: 150px;
    max-height: 170px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.img {
    width: 160px;
    height: 110px;
    margin: 0 auto;
    display: block;
}
.text{
    color: #c0c0c0;
}

#adjustFooter {
    margin-top: 2rem;
}