.text {
    color: white;
}

.iconRole, .textTitle {
    color: white;
    padding: 0.2rem;
}

.textTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textContent {
    color: white;
    text-align: justify;
}

.title {
    color: #f99b14;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.containerEachAgent {
    background-color: #313037;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerCard {
    background-color: #313037;
    text-align: center;
    border: 1.8px solid #f99b14;
    border-radius: 8px;
    padding: 0.8rem;
    margin: 5rem;
    gap: 2rem;
}

.containerIcon2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divHitpointsDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0.5rem;
}

.divHitpoints {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0.2rem;
}

.divDescription {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pName {
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.divIcons {
    display: flex;
    margin: 0;
    padding: 0;
}

.divGun {
    margin: 0;
    padding: 0;
}

.divGunDescription {
    display: flex;
    width: 60%;
}

/* .divGunDescription::after {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    content: "";
    width: 80%;
    height: 1px;
    border-radius: 3px;
    background-color: #f99b14;
    margin-top: 9.5rem;
} */

.divGunDescription2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.divContentPic {
    display: flex;
}

.divContent {
    width: 50%;
    background-color: #313037;
    text-align: center;
    border: 1.8px solid #f99b14;
    border-radius: 8px;
    padding: 0.8rem;
    margin: 1.5rem;
}

.divPic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divPic2 {
    width: 50%;
}

.divVideo {
    margin: 1rem;
}

.icons {
    padding: 2rem;
}

.containerIcon {
    display: flex;
}