.divIconRole {
    margin-top: 0.3rem;
}

.textTitle {
    margin-left: 0.5rem;
}

.text {
    color: white;
}

.iconRole, .textTitle {
    color: white;
    padding: 0.2rem;
}

.textTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textContent {
    color: white;
    text-align: justify;
}

.title {
    color: #f99b14;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.titleStory {
    color: #f99b14;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.containerEachAgent2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
}

.containerEachAgent {
    margin: 2rem;
    width: 90%;
}

.containerCard {
    background-color: #202020d4;
    border: 20px ridge #f99b14;
    border-radius: 5px;
    text-align: center;
    padding: 0.8rem;
    margin: 2.5rem;
    gap: 2rem;
}

.containerIcon2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divHitpointsDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0.5rem;
}

.divHitpoints {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0.2rem;
}

.divDescription {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pName {
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.divIcons {
    display: flex;
    margin: 0;
    padding: 0;
}

.divGun {
    margin: 0;
    padding: 0;
}

.divGunDescription {
    display: flex;
}

/* .divGunDescription::after {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    content: "";
    width: 80%;
    height: 1px;
    border-radius: 3px;
    background-color: #f99b14;
    margin-top: 9.5rem;
} */

.divGunDescription2 {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.536);
    border: 10px outset #f99b14;
    border-radius: 3px;
    text-align: center;
    padding: 0.8rem;
    margin: 1.5rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.divContentPic {
    display: flex;
    align-items: center;
}

.divContent {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.536);
    border: 6px double #f99b14;
    border-radius: 3px;
    text-align: center;
    padding: 0.8rem;
    margin: 1.5rem;
}

.divPic {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divPic2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.536);
    border: 2px outset #f99b14;
    padding: 2rem;
    border-radius: 3px;
}

.divVideo {
    margin: 0.5rem;
}

.icons {
    padding: 2rem;
}

.containerIcon {
    display: flex;
}

.divSummary {
    background-color: rgba(0, 0, 0, 0.536);
    border: 6px double #f99b14;
    border-radius: 3px;
    padding: 1rem;
}