.divBody {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
  }

.smallCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1 {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #313037ab;
    width: 80%;
    border-radius: 5px;
}

.card2 {
    margin: 1.5rem;
    border-radius: 2px;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    transition: 1s;
    border: 2px #f9991400 solid;
}

.card2:hover {
    margin: 1.5rem;
    border-radius: 2px;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    transition: 1s;
    border: 2px #f99914 solid;
}

.containerIcon {
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.styleIconsSupport {
    background-color: #313037;
    border-radius: 100px;
    padding: 0.5rem;
    width: 50px;
    height: 50px;
    transition: 1s;
}

.styleIconsSupport:hover {
    background-color: green;
    border-radius: 100px;
    padding: 0.5rem;
    width: 50px;
    height: 50px;
    transition: 1s;
    cursor:none;
}

.styleIconsTank {
    background-color: #313037;
    border-radius: 100px;
    padding: 0.5rem;
    width: 50px;
    height: 50px;
    transition: 1s;
}

.styleIconsTank:hover {
    background-color: rgb(0, 149, 255);
    border-radius: 100px;
    padding: 0.5rem;
    width: 50px;
    height: 50px;
    transition: 1s;
    cursor:none;
}

.styleIconsDamage {
    background-color: #313037;
    border-radius: 100px;
    padding: 0.5rem;
    width: 50px;
    height: 50px;
    transition: 1s;
}

.styleIconsDamage:hover {
    background-color: orangered;
    border-radius: 100px;
    padding: 0.5rem;
    width: 50px;
    height: 50px;
    transition: 1s;
    cursor:none;
}

.iconsRoles {
    width: 20px;
    margin-top: 7px;
}

.btns {
    border-radius: 3px;
    border: none;
    padding: 0.5rem;
    margin: 0.3rem;
    background-color: #313037;
    color: white;
    font-weight: 600;
    border: 1px  solid #202020;
    transition: 0.5s;
}

.btns:hover {
    border-radius: 3px;
    border: none;
    padding: 0.5rem;
    margin: 0.3rem;
    background-color: #313037;
    color: #f99914;
    cursor: grab;
    font-weight: 600;
    transition: 0.5s;
    border: 1px  solid #f99914;
}

#containerBtnTop {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnTop {
    border-radius: 3px;
    border: none;
    padding: 1rem;
    margin: 0.3rem;
    background-color: #313037;
    color: white;
    font-weight: 600;
    border: 1px  solid #20202000;
    transition: 0.5s;   
}

.btnTop:hover {
    border-radius: 3px;
    border: none;
    padding: 1rem;
    margin: 0.3rem;
    background-color: #313037;
    color: #f99914;
    cursor: pointer;
    transition: 0.5s;
    border: 1px  solid #f99914;
}

#formCreateAgent1 {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#formCreateAgent2 {
    background-color: #202020;
    width: 40%;
    border-radius: 2px;
    text-align: center;
}

.inputs {
    margin: 0.3rem;
    outline: none;
    color: white;
    background-color: #313037;
    border: 1px white solid;
    padding: 0.4rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
}

.titlesForm {
    color: rgb(255, 255, 255);
    background-color: #f99914;
    margin-bottom: 0.3rem;
    border-radius: 2px;
    font-size: 30px;
}

.divBtnAddClear {
    display: flex;
    align-items: center;
    justify-content: center;
}
