.btnRE {
    border-radius: 3px;
    border: none;
    padding: 0.7rem;
    margin: 0.4rem;
    background-color: #313037;
    color: white;
    font-weight: 100;
    transition: 0.7s;
}

.btnRE:hover {
    border-radius: 3px;
    border: none;
    padding: 0.5rem;
    margin: 0.4rem;
    background-color: #313037;
    color: #f99914;
    cursor: pointer;
    font-weight: 100;
    transition: 0.7s;
}