@keyframes falling {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.mainDiv {
    position: fixed;
    left: 36%;
    margin-bottom: 2rem;
    bottom: 1;
    transform: translate(-50%, -50%);
    padding: 16px;
    -webkit-box-shadow: 9px 6px 27px -4px rgba(0, 0, 2, 1);
    -moz-box-shadow: 9px 6px 27px -4px rgba(0, 0, 2, 1);
    box-shadow: 9px 6px 27px -4px rgba(0, 0, 2, 1);
    text-align: center;
    width: 30%;
    border-radius: 10px;
    height: 55px;
    animation-name: falling;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.error {
    background-color: #202020e2;
    color: #f99914;
    font-weight: 700;
    border: 1px solid #f99914;
}

.success{
    background-color: rgb(26, 213, 45);
    color: black !important;
}

#message {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}